svg#coke {
  overflow: visible;
  height: 200px;
  width: 200px;
  position: absolute;
  z-index: 100;
  bottom: 50px;
  right: 50px;
  animation: rotation 10s linear infinite;
}

/* @keyframes x {
  0%,
  100% {
    transform: translateX(-100px);
  }

  50% {
    transform: translateX(100px);
  }
} */

/* #coke-x {
  will-change: transform;
  animation: x 10s ease-in-out infinite;
} */

/* @keyframes rotation {
  0% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  80% {
    transform: rotate(-165deg) translate(6px, 8px);
  }
  82.5% {
    transform: rotate(-165deg) translate(28px, -17px);
  }
  100% {
    transform: rotate(-165deg) translate(35px, -22px);
  }
} */

@keyframes rotation {
  0% {
    transform: rotateZ(-30deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  80% {
    transform: rotate(-60deg);
  }
  82.5% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotateZ(-30deg);
    transform-origin: center;
  }
}

/* #coke-rotation {
  will-change: transform;
  height: 0px;
  width: 0px;
  animation: rotation 5s linear infinite;
} */
/*
#coke-container {
  overflow: visible;
  will-change: transform;
  height: 0px;
  width: 0px;
  animation: rotation 10s ease-in-out infinite;
} */
