.drinks-container {
  display: flex;
  flex-direction: row;
}
.drink-profile-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.drink-profile {
  width: 15em;
  height: 15em;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: column;
}

.drink-profile img {
  width: 10em;
  height: 10em;
}

/* DRINKS FILTER BAR */

.filter-category-containter {
  height: 100vh;
  padding-right: 50px;
  width: 200px;
  display: flex;
  align-items: center;
}

.filter-category-containter ul {
  list-style-type: none;
}
