@keyframes pulse {
  0% {
    color: rgb(0, 0, 0, 0.7);
  }
  50% {
    color: rgba(82, 80, 80, 0.7);
  }
  100% {
    color: rgb(0, 0, 0, 0.7);
  }
}

@keyframes focussearch {
  0% {
    outline-color: rgb(243, 210, 210, 0.8);
  }
  50% {
    outline-color: rgb(243, 210, 210, 0.1);
  }
  100% {
    outline-color: rgb(243, 210, 210, 0.8);
  }
}

body {
  margin: 0;
}

hr {
  margin: 0;
}

nav {
  padding-top: 5px;
  color: rgb(0, 0, 0, 0.7);
  background: linear-gradient(
    rgb(243, 157, 157),
    rgb(243, 140, 140),
    rgb(241, 127, 127),
    rgb(228, 119, 119)
  );
  /* background-color: rgb(252, 146, 146); */
  width: 100%;
  height: 60px;
}

nav h1 {
  /* display: block; */
  position: relative;
  text-shadow: 0 1.5px 1.5px rgba(190, 190, 190, 0.5);
  margin: 0;
  padding: 0;
  left: 16px;
}

nav a {
  display: inline-block;
  color: rgb(0, 0, 0, 0.7);
  text-shadow: 0 1px 1px rgba(190, 190, 190, 0.5);
  margin: 1em;
}

nav a:hover {
  animation: pulse 1s infinite;
}

#navlink-containter {
  color: rgb(233, 108, 108);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25px;
}

#catagories-containter {
  display: flex;
  align-items: center;
  padding-right: 10em;
}

#login-containter {
  display: flex;
  align-items: center;
  padding-left: 20em;
}

form.search {
  position: relative;
  color: rgb(0, 0, 0, 0.7);
  text-shadow: 0 1px 1px rgba(190, 190, 190, 0.5);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  animation: focussearch 2s infinite;
}
form.search i {
  position: absolute;
  /* float: right; */
  left: 14px;
}

form.search input[type='text'] {
  height: 2.5em;
  padding-left: 30px;
  background-color: rgb(250, 181, 181);
  border: 1px;
  border-color: rgb(255, 255, 255, 0.5);
  margin: 1em;
  border-radius: 4px;
  font-size: 11px;
  width: 130px;
  transition: all 0.5s ease 1s;
}

form.search input[type='text']:focus {
  outline-color: rgb(243, 210, 210);
  width: 200px;
  transition: width 0.5s ease;
}
