#single-drink-form img {
}

#single-drink-btn-containter {
  display: flex;
  flex-direction: row;
}

#single-drink-img {
  width: 100px;
  height: 100px;
}

@keyframes image-spin {
  100% {
    transform: rotate(360deg);
  }
}

#single-drink-img:hover {
  animation: image-spin 2s linear infinite;
}
