body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

div.cartBox {
  width: 70%;
  margin: 1em;
}

div.cartHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 0.8em;
}

div.cartQuantity {
  display: flex;
  flex-direction: row;
  padding: 0.2em;
}

.cartQuantity span {
  font-size: 0.7em;
  padding-right: 0.5em;
  font-style: italic
}

.cartQuantity button {
  padding: 0.2em;
  margin-left: 0.2em;
  height: 2em;
  align-self: center;
}

.cartQuantity button:hover {
  cursor: pointer;
  font-weight: bold
}

.cartHeader div {
  justify-self: right
}

div.cart {
  display: flex;
  flex-direction: row;
  justify-content: space-around
}

.cart h4 {
  margin-right: 0.3em;
}

div.cartTotal {
  text-align: end
}

